 <%-include('../cabecalho.ejs')%>
     <header>
        <h3>Adicionar Novo professor</h3>
      </header>
      <div class="content"> 
        professor cadastrado com sucesso.
      </div>

      <%-include('../rodape.ejs')%>