<%- include('cabecalho.ejs')%>
    
 <!-- Conteúdo Principal -->
    <main class="container">
        <h2>Bem-vindo ao Sistema de academia da jeny</h2>
        <img src="academia.jpeg">
    </main>

<%- include('rodape.ejs')%>
