<%- include('cabecalho.ejs')%>

    <main class="container">
        <div class="page-header">
            <h2> Exercicios</h2>
            <a href="/aluno/add" class="btn btn-success">+ Novo Artista</a>
        </div>

        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>grupo_muscular</th>
                        <th>nivel</th>
                        <th>duração</th>
                        <th>treino</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>jennifer giovana</td>
                        <td>pernas</td>
                        <td>iniciante</td>
                        <td>30 minutos</td>
                        <td>Leg Press</td>
                        <td><a href="/artista/jennifer-giovana" class="link">Ver Detalhes</a></td>
                    </tr>
                    <tr>
                        <td>Ana clara</td>
                        <td> bunda </td>
                        <td>intermediário</td>
                        <td> 45 minutos</td>
                        <td>Agachamento livre</td>
                        <td><a href="/artista/ana-clara" class="link">Ver Detalhes</a></td>
                    </tr>
                    <tr>
                        <td>Sabrina</td>
                        <td>braço</td>
                        <td>avançado</td>
                        <td>60 minutos</td>
                        <td>Rosca Bíceps Martelo</td>
                        <td><a href="/artista/sabrina" class="link">Ver Detalhes </a></td>
                    </tr>
                    <tr>
                        <td> davi silva </td>
                        <td>costas</td>
                        <td>intermediário</td>
                        <td> 45 minutos</td>
                        <td>Barra fixa</td>
                        <td><a href="/artista/davi-silva" class="link">Ver Detalhes</a></td>
                    </tr>
                    <tr>
                        <td>Antoni</td>
                        <td>pernas</td>
                        <td>intermediário</td>
                        <td>45 minutos</td>
                        <td> agachamento sumo </td>
                        <td><a href="/artista/antoni" class="link">Ver Detalhes</a></td>
                    </tr>
                    <tr>
                        <td>Rafael hoff</td>
                        <td>abdomen</td>
                        <td>iniciante</td>
                        <td>30 minutos</td>
                        <td> prancha</td>
                        <td><a href="/artista/rafaelhoff" class="link">Ver Detalhes</a></td>
                    </tr>
                    <tr>
                        <td>lavinia</td>
                        <td>bumbum</td>
                        <td>iniciante</td>
                        <td>30 minutos</td>
                        <td> elevação de quadril</td>
                        <td><a href="/artista/lavinia" class="link">Ver Detalhes</a></td>
                    </tr>
                    <tr>
                        <td>matheus</td>
                        <td>quadríceps </td>
                        <td>avançado</td>
                        <td>50 minutos</td>
                        <td>Agachamento Livre</td>
                        <td><a href="/artista/matheus" class="link">Ver Detalhes</a></td>
                    </tr>
                    <tr>
                        <td>Laura</td>
                        <td>Posterior da coxa</td>
                        <td>avançado</td>
                        <td>70 minutos</td>
                        <td>cadeira flexora</td>
                        <td><a href="/artista/laura" class="link">Ver Detalhes</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>

    <%- include('rodape.ejs')%>